In [1]:
import pandas as pd
pd.options.display.float_format = '{:.4f}'.format

In [3]:
df = pd.read_csv('out_model_red.csv')

# Ordenar por 'loc', 'model' y 'mse'
df = df.sort_values(by=['loc', 'model', 'mse'], ascending=[True, True, True])
df 
# # Crear la columna de ranking
# df['rank'] = df.groupby(['loc', 'model'])['mse'].rank(method='first')
# 
# # Asegurarte de que los rankings sean enteros
# df['rank'] = df['rank'].astype(int)
# 
# df_grouped = df.groupby(['optimizer', 'n_layers', 'n_neurons']).agg(
#     learning_rate=('learning_rate', 'min'),
#     ranking=('rank', 'sum')
# ).reset_index()
# df_grouped.sort_values(by=['ranking'], ascending=[True])

,optimizer,n_layers,n_neurons,learning_rate,mse,loc,model
81,rmsprop,1,50,0.0078,0.1647,Bilbao-Vizcaya,COP
48,adam,1,10,0.0064,0.1830,Bilbao-Vizcaya,COP
66,sgd,1,100,0.0064,0.1923,Bilbao-Vizcaya,COP
67,sgd,1,200,0.0064,0.1932,Bilbao-Vizcaya,COP
49,adam,1,50,0.0074,0.1934,Bilbao-Vizcaya,COP
...,...,...,...,...,...,...,...
332,rmsprop,15,10,0.0073,2.5003,Villano-Sisargas,GOW
292,adam,5,10,0.0089,2.5983,Villano-Sisargas,GOW
324,rmsprop,5,10,0.0091,2.6979,Villano-Sisargas,GOW
328,rmsprop,10,10,0.0090,3.1877,Villano-Sisargas,GOW
296,adam,10,10,0.0086,3.3645,Villano-Sisargas,GOW

In [ ]:
df = pd.read_csv('out_model_kmeans.csv')

# Ordenar por 'loc', 'model' y 'mse'
df = df.sort_values(by=['loc', 'model', 'mse'], ascending=[True, True, True])

# Crear la columna de ranking
df['rank'] = df.groupby(['loc', 'model'])['mse'].rank(method='first')

# Asegurarte de que los rankings sean enteros
df['rank'] = df['rank'].astype(int)

df_grouped = df.groupby(['k']).agg(
    ranking=('rank', 'sum')
).reset_index()
df_grouped.sort_values(by=['ranking'], ascending=[True])