In [14]:
import pandas as pd
pd.options.display.float_format = '{:.4f}'.format

In [60]:
df_res = pd.read_csv('res.csv')
df_res[df_res['Modelo'] == '4DVar']

,Nombre,Modelo,bias_gow,bias_cop,rmse_gow,rmse_cop,pearson_gow,pearson_cop,si_gow,si_cop
64,Bilbao-Vizcaya,4DVar,0.1599,0.2860,0.2066,0.2725,0.9869,0.9854,0.1071,0.1413
65,Cabo_de_Pennas,4DVar,0.2962,0.1098,0.2754,0.2187,0.9847,0.9841,0.1360,0.1080
66,Estaca_de_Bares,4DVar,0.0717,0.1778,0.2193,0.2517,0.9869,0.9855,0.0886,0.1017
67,Villano-Sisargas,4DVar,0.0383,0.1567,0.2260,0.2408,0.9852,0.9855,0.0895,0.0953
68,Cabo_Silleiro,4DVar,0.0700,0.2280,0.2098,0.2411,0.9872,0.9882,0.0874,0.1005
69,Golfo_de_Cadiz,4DVar,0.0236,0.1022,0.1524,0.2441,0.9749,0.9572,0.1252,0.2005
70,Alboran,4DVar,-0.0050,0.1365,0.1591,0.2465,0.9513,0.9577,0.2332,0.3613
71,Cabo_de_Gata,4DVar,0.1290,0.2810,0.1863,0.3335,0.9759,0.9753,0.1825,0.3266
72,Cabo_de_Palos,4DVar,0.0539,0.1762,0.1525,0.2790,0.9734,0.9729,0.1493,0.2733
73,Valencia,4DVar,0.1302,0.2005,0.2408,0.3232,0.9584,0.9668,0.2923,0.3923
74,Tarragona,4DVar,0.0773,0.2004,0.1676,0.3093,0.9739,0.9701,0.1888,0.3486
75,Cabo_Begur,4DVar,0.2765,0.5697,0.2668,0.4569,0.9791,0.9775,0.2035,0.3485
76,Dragonera,4DVar,0.1790,0.3045,0.2229,0.3420,0.9787,0.9744,0.2077,0.3186
77,Mahon,4DVar,0.1636,0.3776,0.1992,0.3508,0.9837,0.9792,0.1532,0.2698
78,Gran_Canaria,4DVar,0.0206,0.0878,0.1352,0.1769,0.9757,0.9799,0.0805,0.1054
79,Tenerife,4DVar,0.0491,0.0316,0.1510,0.1282,0.9439,0.9398,0.1725,0.1465

In [61]:
for column in df_res:
    if column != 'Nombre' and column != 'Modelo':
        print(f"{column}: {df_res[df_res['Modelo'] == '4DVar'][column].mean():.4f}")

bias_gow: 0.1084
bias_cop: 0.2141
rmse_gow: 0.1982
rmse_cop: 0.2760
pearson_gow: 0.9750
pearson_cop: 0.9737
si_gow: 0.1561
si_cop: 0.2274